<!--
title: Daily-2021-02-24
description: 
published: true
date: 2021-02-25T08:19:34.898Z
tags: 
editor: ckeditor
dateCreated: 2021-02-24T13:03:51.800Z
-->

<h1><strong>24 Février 2021 – Infra - Daily</strong></h1>
<h2><strong>Abordé</strong></h2>
<ul>
  <li><strong>Thomas </strong>: Créer une nouvelle machine sur AWS de dernière minute pour le projet CV Auto<ul>
      <li>En attente d’un cahier de charge</li>
    </ul>
  </li>
  <li><strong>Samir </strong>: Attention a la création d’une instance Windows<ul>
      <li>prendre les pré-requis</li>
      <li>Vérifier que Windows est vraiment utile</li>
      <li>Forcer un Ping/Pong</li>
      <li>Prévenir Samir</li>
    </ul>
  </li>
  <li><strong>Thomas </strong>: Commencer à voir collection Ansible + Terraform</li>
  <li><strong>Jérôme</strong>.<strong>O</strong> : Vecteur Plus première inquiétude sur le delai</li>
  <li><strong>Jérôme.O </strong>: Format de daily avec Demo</li>
</ul>
<h2><strong>Fait</strong></h2>
<p>Suivie du planning</p>
<h2><strong>A Faire</strong></h2>
<p><strong>Jérôme.0</strong> : Vecteur Plus audit, retour vers Laurent.C</p>
