<!--
title: GEICB
description: 
published: true
date: 2021-02-25T13:21:54.697Z
tags: 
editor: ckeditor
dateCreated: 2021-02-22T17:23:27.194Z
-->

<h1><strong>GEICB - Lundi 22 février 2021</strong></h1>
<h1><strong>A installer</strong></h1>
<p>Instance AWS en interne pour Intranet CB - t2-medium</p>
<p><br>&nbsp;</p>
<p>Espace disque 200Go GP3</p>
<p>Base de donnée MySQL 2Go</p>
<p>PHP 7.4</p>
<p>MySQL 8.0.x</p>
<p>Apache avec le module mod_rewrite</p>
<p>Ouverture de la BDD en externe pour un accès via DBeaver</p>
<p><br>&nbsp;</p>
<h1><strong>Fait</strong></h1>
<p>Création d’un instance Amazon t2-medium</p>
<p>Sélection du disque 200go GP3</p>
<p>Désélectionner l’option <strong>delete</strong> afin de conserver les données quand on perds l’instance <strong>t2</strong></p>
<p>Choix d’une image <strong>Ubuntu 20</strong> pour la gratuité</p>
<p>Création d’un groupe de sécurité chez Amazon appeler <strong>gie-cd-grp</strong></p>
<p>Installer Apache</p>
<p>Installer MySQL</p>
<p>Installer PHP</p>
<p>Ouvir les ports afin d’acceder a la DB</p>
<p>Creer la DB</p>
<p>Obtenir un User Name</p>
<p>Un Password</p>
<p>Stocker les secrets dans le Vault<br>&nbsp;</p>
<h1><strong>A Faire</strong></h1>
<p>&nbsp;</p>
<h1><strong>Informations</strong></h1>
<p>Instalaltion PHP 7.4&nbsp;: <a href="https://computingforgeeks.com/how-to-install-php-on-ubuntu/"><u>https://computingforgeeks.com/how-to-install-php-on-ubuntu/</u></a></p>
<p>Installation MySQL&nbsp;: <a href="https://www.osradar.com/how-to-install-mysql-8-0-on-ubuntu-20-04/"><u>https://www.osradar.com/how-to-install-mysql-8-0-on-ubuntu-20-04/</u></a></p>
<p>Installation Apache mod_rewrite&nbsp;: <a href="https://www.digitalocean.com/community/tutorials/how-to-rewrite-urls-with-mod_rewrite-for-apache-on-ubuntu-20-04"><u>https://www.digitalocean.com/community/tutorials/how-to-rewrite-urls-with-mod_rewrite-for-apache-on-ubuntu-20-04</u></a></p>
<h1><strong>Information de connexion</strong></h1>
<p><a href="https://vault.nova-technology.fr:8200/ui/vault/secrets/cds/show/AWS%20Machines"><u>https://vault.nova-technology.fr:8200/ui/vault/secrets/cds/show/AWS%20Machines</u></a></p>
